* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-bar {
    display: flex;
    height:  50px; 
    background-color: #2dc3dd;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-inline: 30px;
    position: sticky;
    top: 0;
}

.tachi-header {
    font-size: 30px;
}

.tachiyomi-logo, .right {
    display: none;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(24, 130, 192, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6); 
    border-radius: 10px;
  }

  .submit {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2dc3dd;
    color: black;
    text-align: center;
 }

span a {
    color: blue;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .tachiyomi-logo {
        display: block;
        max-width: 40px;
    }

    .right {
        display: flex;
        gap: 27px;
    }

    .tachi-header {
        display: none;
    }

    p:hover {
        cursor: pointer;
        text-decoration: underline;
    }

}

@media only screen and (min-width: 1024px){
    .manga {
        grid-template-columns: repeat(3, 1fr);
    }

    
}